* {
  font-family: 'Mulish', sans-serif
}

.navbar {
    width: 100%;
    position: relative; /* Não está fixa no topo, apenas acompanha o site */
    background-color: transparent;
    transition: background-color 0.3s ease, padding 0.3s ease;
    top: -100px;
    left: 620px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .alinhamento {
    display: flex; /* Alinha os itens horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Alinha verticalmente */
  gap: 50px; /* Espaçamento entre os itens */
  padding: 10px;
  }

.navbar .nav-link{
    color: #CCAC73;
    transition: color 0.3s ease; 
}

.navbar:hover{
    color: white;
}

.navbar.scrolled {
    position: fixed; /* Quando rolar, a navbar segue fixada */
    top: 0;
    background-color: #350000; /* Altera a cor quando o scroll acontece */
    padding: 10px;
    z-index: 10000; 
  }

.backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #350000; 
    z-index: -1; 
    
   
}

.navbar:after {
    content: "";
    display: block;
    height: 1px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -80px;
    top: 64px;
    z-index: -1; 
    
    }

  

footer {
    font-size: 25px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    margin-top: 3900px;
    left: 0; 
    z-index: 10;
} 

footer p{
    margin: auto;
    font-weight: bold;
    color:black ;
    text-decoration: underline;
    }

.imagelogob {
    width: 200px;
    height: 90px;
    margin-left: 30px;
    margin-top: 10px;
}

.textoRapido{
    color: #CCAC73;
    margin-left: 150px;
    position: absolute;
    top: 150px; /* Altere a posição como necessário */

}


.textoTituloGrande{
    color: #CCAC73;
    margin-top: 159px;
    position: absolute;
    margin-left: 150px;
    font-size: 450%;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    z-index: 1;
    

}

.textoTextoPequeno{
    color: #CCAC73;
    margin-left: 150px;
    margin-top: 370px;
    z-index: 9;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    position: absolute;
}

.slide-container{
    color: #CCAC73;
    margin-left: 350px;
    margin-top: 10px;
    z-index: 2;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
}

.imageAdvogado{
    width: 600px;
    height: 750px;
    left: 700px;
    margin-top: -55px;
    position: absolute;
    z-index: 10;

}

.imageAdvogada{
    width: 600px;
    height: 750px;
    left: 2100px;
    margin-top: -55px;
    position: absolute;
    z-index: 10;

}

.nomep {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: -700px;  
    z-index: 10;
    margin-left: 880px;
    color: #CCAC73;
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    font-weight:bolder;
}

.nomeoab {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: -730px;  
    z-index: 10;
    margin-left: 920px;
    color: #CCAC73;
    font-size: 23px;
    font-family: 'Mulish', sans-serif;
   
    
}

.nomep2 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: -700px;  
    z-index: 10;
    margin-left: 2350px;
    color: #CCAC73;
    font-size: 28px;
    font-family: 'Mulish', sans-serif;
    font-weight:bolder;
}

.nomeoab2 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    bottom: -730px;  
    z-index: 10;
    margin-left: 2350px;
    color: #CCAC73;
    font-size: 23px;
    font-family: 'Mulish', sans-serif

}

.quadrado {
    width: 860px;
    height: 750px;
    border: 15px solid black; 
    background-color: transparent; 
    z-index: -1;
    left: 1545px;
    margin-top: -55px;
    position: absolute;
    margin-left: 190px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: greenyellow;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

.testando {
    margin-top: 680px;
    position: absolute;
    height: 80vh; /* A página vai ocupar 100% da altura da tela */
}

/*.backgroundSobre {
    /*background-image: url(../src/assets/img/Sobre_Nos_Oficial_v2.png);
    height: 100vh;
    width: 1000px;
    margin-top: -220px;
    background-image: url(../src/assets/img/Sobre_Nos_Oficial_v2.png); /* Usa a imagem de texto 
    background-repeat: no-repeat;              /* Evita repetição 
    background-position: center;               /* Centraliza a imagem 
    background-size: 125%;
    margin-left: 500px;
}*/


.backgroundSobre {
    position: relative;
    top: 50px;
    z-index: -1;
    left: 250px;
  }


.backgroundSobre h2 {
    font-weight: 400;
    font-size: 250px;
    line-height: 220px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #CCAC73;
    opacity: .1;
    
    
}


.Sobre {
    margin-top: -150px;
    position: absolute;
    color: #CCAC73;
    font-size: 450%;
    margin-left: 280px;
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    width: 500px;
}

.Sobrepequeno {
    margin-top: 90px;
    color: #CCAC73;
    width: 500px; /* Defina a largura do contêiner */
    word-wrap: break-word; /* Quebra palavras longas se não couber */
    overflow-wrap: break-word; /* Versão moderna da quebra de palavra */
    position: absolute;
    margin-left: 280px;
    
}

.ImagemSobre {
        width: 500px;
        height: 150px;
        left: 1050px;
        margin-top: -150px;
        position: absolute;
        z-index: 1;
    
}

.SobreNos {
    margin-top: 10px;
    color: #CCAC73;
    margin-left: 880px;
    font-size: 20px;
    margin-top: 170px;
}

.Infos {
    color: whitesmoke;
    margin-left: 700px;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight:bolder;


}


.Infos::after {
    content: "";
    display: block;
    height: 1px;
    width: 5%;
    background-color: #CCAC73;
    position: absolute;
    bottom: 0;
    left: 970px;
    margin-left: -80px;
    top: 270px;
    z-index: -1; 
    
    }


.textopequenoAssistencia {
    color: #CCAC73;
    margin-left: 280px;
    font-size: 20px;
    margin-top: 250px;
    position: absolute;
}

.textoGrandeAssistencia {
    color: white;
    margin-left: 280px;
    font-size: 30px;
    font-weight:bolder;
    margin-top: 290px; 

}

.textoGrandeAssistencia::after {
    content: '';
    position: absolute;
    top: 250px;
    left: 15%;
    transform: translateX(-50%);
    width: 2px;
    height: 12%;
    background-color: #CCAC73;

}


.paginaAssistencia {
    margin-top: 1400px;
    position: absolute;
    height: 80vh; /* A página vai ocupar 100% da altura da tela */
}

.paginaContato {
    margin-top: 2400px;
    position: absolute;
    height: 100vh; /* A página vai ocupar 100% da altura da tela */
}

.textopequenoFinal {
    color: #CCAC73;
     
}

.paginaFinal {
    margin-top: 3450px;
    position: absolute;
    height: 100vh; /* A página vai ocupar 100% da altura da tela */
}

.Imagemcarrossel {
    width: 400px;
    height: 470px;
}

.slider-container {
    margin-top: 100px;
    margin-left: 120px;
}

.text-container {
    position: absolute;
    bottom: 10px;
    left: 35px;
    width: 90%;
  }
  
  .fixed-text {
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold
  }
  
  .hover-text {
    color: white;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    display: none; /* Ocultar por padrão */
    font-weight: bold
  }
  
  .image-container:hover .hover-text {
    display: block; /* Exibir o texto adicional ao passar o mouse */
  }

 .panfleto {
    background-color: #690101;
    width: 450px;
    height: 600px;
    margin-top: 200px;
    margin-left: 500px;

 }

 .panfleto2 {
    background-color: #CCAC73;
    width: 450px;
    height: 550px;
    margin-top: -600px;
    margin-left: 950px;

 }

 .Letraprincipal {
    color: white;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bolder;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    width: 300px;
    
 }

 .Letraprincipal:after {
    content: "";
    display: block;
    height: 1px;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    left: 540px;
    top: 300px;
    
 }

 .Letramenor {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    color: white;
    font-size: 15px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
 } 

 .homeicon {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 20px;
 }

 .endereco {
    color: white;
    margin-top: -70px;
    margin-left: 100px;
    font-size: 20px;
 }

 .enderecoreal {
    color: white;
    margin-top: -10px;
    margin-left: 100px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    width: 200px;
    font-size: 15px;
 }

 .emailicon {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 20px;
 }

 .email {
    color: white;
    margin-top: -60px;
    margin-left: 100px;
    font-size: 20px;
 }

 .emailreal {
    color: white;
    margin-top: -10px;
    margin-left: 100px;
 }

 .telefoneicon {
    height: 55px;
    width: 55px;
    margin-top: 20px;
    margin-left: 20px;
 }

 .telefone {
    color: white;
    margin-top: -60px;
    margin-left: 100px;
    font-size: 20px;
 }

 .telefonereal {
    color: white;
    margin-left: 100px;
    margin-top: -10px
 }

 .relogioicon {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-left: 15px;
 }

 .relogio {
    color: white;
    margin-top: -60px;
    margin-left: 90px;
    font-size: 20px;
 }

 .horario {
    color: white;
    margin-left: 92px;
    margin-top: -10px;
 }

 .logoplanfleto {
    width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-left: 70px;
 }

 .textopequenocontato {
    color: white;
    margin-top: 20px;
    margin-left: 95px;
    font-size: 20px;

 }

 .textograndecontato {
    color: white;
    margin-left: 50px;
    margin-top: -15px;
    font-size: 30px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    width: 350px;
    font-weight:bolder;
    text-align: center;
 }

 .comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #690101;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 100px;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: #690101;
    border: 2px solid #690101;
    box-shadow: 5px 5px 0px #690101;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }

  .logofinal {
    width: 300px;
    height: 130px;
    margin-left: 50px;
  }

  .Letragrandefinal {
    color: white;
    margin-left: 620px;
    margin-top: -150px;
    font-size: 25px;
    font-weight: bolder;
  }

  .listinha {
   color: white;
   margin-left: 610px;
   margin-top: 30px;
  }

  .Letragrandeass {
    margin-left: 930px;
    margin-top: -200px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
  }

  .listinha2 {
    color: white;
    margin-left: 920px;
    margin-top: 30px;
   }

   .Letragrandecontato{
    color: white;
    margin-left: 1300px;
    margin-top: -300px;
    font-size: 25px;
    font-weight: bolder;
   }

  .numerofinal {
    color: white;
    margin-left: 1290px;
    margin-top: 30px;
  }

  .emailfinal {
    color: white;
    margin-left: 1290px;
    margin-top: 20px;
  }

  
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 30px;
    margin-left: 180px;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
    
  }
  
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }

  
.link-custom {
    text-decoration: none;  
    color: inherit;         
    font-weight: normal;    
  }
  
  .link-custom:hover {
    text-decoration: underline; 
  }

