.textopequenoFinal {
    color: #CCAC73;
     
}

.paginaFinal {
    margin-top: 3450px;
    position: absolute;
    height: 50vh; /* A página vai ocupar 100% da altura da tela */
}


  .logofinal {
    width: 300px;
    height: 130px;
    margin-left: 50px;
  }

  .Letragrandefinal {
    color: white;
    margin-left: 620px;
    margin-top: -150px;
    font-size: 25px;
    font-weight: bolder;
  }

  .listinha {
   color: white;
   margin-left: 610px;
   margin-top: 30px;
  }

  .Letragrandeass {
    margin-left: 930px;
    margin-top: -200px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
  }

  .listinha2 {
    color: white;
    margin-left: 920px;
    margin-top: 30px;
   }

   .Letragrandecontato{
    color: white;
    margin-left: 1300px;
    margin-top: -300px;
    font-size: 25px;
    font-weight: bolder;
   }

  .numerofinal {
    color: white;
    margin-left: 1290px;
    margin-top: 30px;
  }

  .emailfinal {
    color: white;
    margin-left: 1290px;
    margin-top: 20px;
  }

  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 30px;
    margin-left: 180px;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
    
  }
  
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
  }

  
.link-custom {
    text-decoration: none;  
    color: inherit;         
    font-weight: normal;    
  }
  
  .link-custom:hover {
    text-decoration: underline; 
  }
