* {
  font-family: 'Mulish', sans-serif
}

.backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #350000; 
    z-index: -1; 
    
   
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
   background: black;
   border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: greenyellow;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

/*.backgroundSobre {
    /*background-image: url(../src/assets/img/Sobre_Nos_Oficial_v2.png);
    height: 100vh;
    width: 1000px;
    margin-top: -220px;
    background-image: url(../src/assets/img/Sobre_Nos_Oficial_v2.png); /* Usa a imagem de texto 
    background-repeat: no-repeat;              /* Evita repetição 
    background-position: center;               /* Centraliza a imagem 
    background-size: 125%;
    margin-left: 500px;
}*/

